"$schema" = 'https://starship.rs/config-schema.json'
palette = 'pywal'
format = """
[](red)\
$os\
$username\
[](bg:peach fg:red)\
$directory\
[](bg:yellow fg:peach)\
$git_branch\
$git_status\
[](fg:yellow bg:green)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:green bg:sapphire)\
$conda\
[](fg:sapphire bg:lavender)\
$time\
[ ](fg:lavender)\
$cmd_duration\
$line_break\
$character"""


# ---------------- OS ----------------
[os]
disabled = false
style = "bg:red fg:crust"
[os.symbols]
Arch = "󰣇"
Linux = "󰌽"
# ---------------- User ----------------
[username]
show_always = true
style_user = "bg:red fg:crust"
style_root = "bg:red fg:crust"
format = '[ $user]($style)'
# ---------------- Directory ----------------
[directory]
style = "bg:peach fg:crust"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "
# ---------------- Git ----------------
[git_branch]
symbol = ""
style = "bg:yellow"
format = '[[ $symbol $branch ](fg:crust bg:yellow)]($style)'
[git_status]
style = "bg:yellow"
format = '[[($all_status$ahead_behind )](fg:crust bg:yellow)]($style)'
# ---------------- Languages ----------------
[nodejs]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'
[c]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'
[rust]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'
[golang]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'
[php]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'
[java]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'
[kotlin]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'
[haskell]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'
[python]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version)(\(#$virtualenv\)) ](fg:crust bg:green)]($style)'
# ---------------- Conda ----------------
[conda]
symbol = "  "
style = "fg:crust bg:sapphire"
format = '[$symbol$environment ]($style)'
ignore_base = false
# ---------------- Time ----------------
[time]
disabled = true
time_format = "%R"
style = "bg:lavender"
format = '[[  $time ](fg:crust bg:lavender)]($style)'
# ---------------- Prompt ----------------
[line_break]
disabled = true
[character]
success_symbol = '[❯](bold fg:green)'
error_symbol   = '[❯](bold fg:red)'
vimcmd_symbol  = '[❮](bold fg:green)'
vimcmd_replace_one_symbol = '[❮](bold fg:lavender)'
vimcmd_replace_symbol     = '[❮](bold fg:lavender)'
vimcmd_visual_symbol      = '[❮](bold fg:yellow)'
# ---------------- Cmd Duration ----------------
[cmd_duration]
show_milliseconds = true
format = " in $duration "
style = "bg:lavender"
disabled = false
show_notifications = true
min_time_to_notify = 45000
# ---------------- Palette ----------------
[palettes.pywal]
rosewater = "{color7}"
flamingo  = "{color7}"
pink      = "{color8}"
mauve     = "{color8}"
red       = "{color1}"
maroon    = "{color1}"
peach     = "{color3}"
yellow    = "{color2}"
green     = "{color4}"
teal      = "{color6}"
sky       = "{color6}"
sapphire  = "{color6}"
blue      = "{color4}"
lavender  = "{color8}"
text      = "{color7}"
subtext1  = "{color7}"
subtext0  = "{color7}"
overlay2  = "{color8}"
overlay1  = "{color8}"
overlay0  = "{color8}"
surface2  = "{color8}"
surface1  = "{color8}"
surface0  = "{background}"
base      = "{background}"
mantle    = "{background}"
crust     = "{background}"
