/* ~/.config/wofi/style.css */
@import url("/home/daya/.cache/wal/colors-waybar.css");
* {
    font-family: JetbrainsMono Nerd;
    font-size: 14px;
}
window {
    margin: 0;
    background-color: @background;
    border: 2px solid @color5;
    border-radius: 2px;
}
#input {
    margin: 5px;
    padding: 8px 16px;
    background-color: @color0;
    color: @foreground;
    border: 1px solid @color8;
    border-radius: 6px;
    outline: none;
    font-size:18;
}
#inner-box {
    margin: 2px;
    padding: 0px;
    background-color: @background;
}
#outer-box {
    margin: 5px;
    background-color: @background;
}
#scroll {
    margin: 0;
}
#entry {
    margin: 3px;
    padding: 8px 10px;
    background-color: transparent;
    color: @foreground;
    border: 1px solid @color8;
    border-radius: 4px;
}
#entry:selected {
    background-color: @color5;
    color: @background;
    border: 1px solid @color5;
}
#text {
    margin: 2px;
    color: inherit;
}
#img {
    margin-right: 8px;
}
